body, html {
  margin: 0px;
  background-color: $color-bg-primary;
  color: $color-text;
}

* {
  font-family: 'Miriam Libre', sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;

  li {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
}